<p>
<%= @message %>
<p>

<p>
<%= @length%> characters
</p>
<form action="?length=<%=@length%>" method="post">
  <textarea name="content"><%=@content%></textarea>
  <div>
    <input type="submit" value="send" />
  </div>
</form>

